<% include ../partials/header %>


<table class="table" id='Cresult'>
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">USN</th>
		<th scope="col">Round No</th>
		<th scope="col">Status</th>
		<th scope="col">More Info</th>
	  </tr>
	</thead>
	<tbody>
		<% x=1;%>
		<% detail.forEach((details)=>{ %>
			<tr>
				<th scope="row"><%= x++ %></th>
				<td> <%= details.usn %></td>
				<td><%= details.roundNo %></td>
				<td><%= details.status %></td>
				<td><a class= "selection" href="/movies/<%=details.offerID%>" ><li class="list-group-item active tb"> More Info </li></a></td>
			</tr>
		<%})%>
	</tbody>
  </table>
<% include ../partials/footer %>
