<% include ../partials/header %>


<table class="table" id='Cresult' style="color: white;">
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">USN</th>
		<th scope="col">Round No</th>
		<th scope="col">Status</th>
		<th scope="col">More Info</th>
	  </tr>
	</thead>
	<tbody>
		<% x=1;%>
		<% detail.forEach((details)=>{ %>
			<tr>
				<th scope="row"><%= x++ %></th>
				<td><a href="/studDetails/<%= details.usn %>"><%= details.usn %></a> </td>
				<td><%= details.roundNo %></td>
				<td><%= details.status %></td>
				<td><a class= "selection" href="/movies/<%=details.offerID%>" ><li class="list-group-item active tb"> More Info </li></a></td>
			</tr>
		<%})%>
	</tbody>
  </table>

  <div class="col-md-9">
	<div class="cardui" style="color: white;"  id="rStat">
		
		  <div class="card-body" >
			<h3 class="card-title" id="rst">Company Stats</h3>
			<p class="card-text" id="rst">Total PASS &rarr; <%=stat['pass']%></p>
			<p class="card-text" id="rst">Total FAIL &rarr; <%=stat['fail']%></p>
			<p class="card-text" id="rst">In Progress &rarr; <%=stat['na']%></p>
		  </div>
		
	</div>
</div>



<h1 class=" d-flex justify-content-center" id="roleSearch" style="color: white;">
	Search Stat by role
</h1>
<div class=row>
	<form action="/Rstat" class="mx-auto" method="POST">
		<div class="form-group">
			<input class="form-control " type="text" name="name" placeholder=" Role " required>
		</div>
		<div class="form-group">
			<input class="btn  form-control btn-primary" type="submit">
		</div>
	</form>
</div>



<a class="btn btn-primary btn-lg" href="/Tstat" role="button" id="TstatBt" > View Total Stat </a>
<% include ../partials/footer %>
