<% include ../partials/header %>
<!-- <%=currentUser%> -->
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-3">
				<p class="lead">OPTIONS</p>
				<ul id="leftButton" class="list-group">
					More Info</a>
					<a class= "selection" href="/movies/<%=movie.offerId%>" ><li class="list-group-item active">Rectuitment details</li></a>
  					<a class= "selection" href="/movies/register/<%=comp.cId%>" ><li class="list-group-item active">Register </li></a>
  					<li class="list-group-item active">Contact Rectuiter</li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="card">
					
  					<div class="card-body">
						<h3 class="card-title"><%=comp.cName%></h3>
						<p class="card-text">Company Info:> <%=comp.cInfo%></p>
						<p class="card-text">Profile :> <%=movie.role%></p>
						<p class="card-text">Job Description:> <%=movie.offerDisc%></p>
						<p class="card-text">Criteria :> <%=movie.coCgpa%> CGPA</p>
						<p class="card-text">Last Date :> <%=movie.lastDate%> </p>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
<% include ../partials/footer %>